button {
  border: none;
  background-color: #0581f3;
  color: #fff;
  border-radius: 9px;
  display: flex;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100px;
}

button .register-btn {
    border: 1px solid black;
    background-color: #6AE807;
}
